@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}
/* navbar */
.navbar{
    width: 100%;
    min-height: 40px;
    background: #322E41;
}
.navbar__nav{
    width: 1100px;
    min-height: 40px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__nav--logo img{
    width: 100px;
    padding: 10px 0;
}
.navbar__nav--list a{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 23px 14px;
    /* border: 1px solid green; */
    display: inline-flex;
}
.navbar__nav--list a:hover{
    background: #ffffff;
    color: #D47300;
}
.navbar__nav--list{
    display: flex;
}
/* navbar end */

/* header */
.header{
    width: 100%;
    height: 500px;
    background: url(../images/bg.jpg) no-repeat center center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.header h1{
    line-height: 52px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.header p{
    font-size: 19px;
    line-height: 21px;
    margin-top: 15px;
}
.header span{
    font-weight: 700;
    text-transform: uppercase;
}
/* header end */

/* content */
.content{
    width: 100%;
    min-height: 200px;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.content_info,
.content_items{
    width: 540px;
    min-height: 200px;
    /* border: 1px solid red; */
    transform: translateY(-40px);
}
.content_info{
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
}
.content_info img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: flex;
    border-radius: 6px;
}
.content_info h3,
.item h3{
    font-size: 22px;
    color: #2C2A2A;
    line-height: 26px;
    font-weight: 700;
    margin: 20px 0 10px;
}
.content_info p,
.item p{
    color: #9B9B9B;
    font-size: 16px;
    line-height: 19px
}
.item{
    width: 255px;
    min-height: 200px;
    background: #ffffff;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item img{
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    border: 2px solid #B8B8B8;
}
.item h3{
    line-height: 20px;
    margin: 12px 0;
}
.item p{
    line-height: 16px;
}
.content_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
/* content end */

/* footer */
.footer{
    width: 100%;
    min-height: 50px;
    background: #322E41;
    padding: 37px 0 37px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer__form,
.footer__navbar{
    width: 540px;
    min-height: 50px;
    /* border: 1px solid red; */
}
.footer__form form{
    display: flex;
    flex-direction: column;
    padding: 0 95px;
}
.footer__form input,
.footer__form textarea{
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    background: #ffffff;
    border: none;
    resize: none;
    outline: none;
    font-size: 18px;
    line-height: 19px;
}
.footer__form textarea{
    height: 86px;
}
.footer__form input::placeholder,
.footer__form textarea::placeholder{
    color: #9B9B9B;
}
.footer__form button{
    background: #544294;
    border-radius: 6px;
    color: #ffffff;
    padding: 4px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}
.footer__navbar--list a{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 5px;
    display: flex;
}
.footer__navbar--list{
    width: 250px;
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer__navbar--list a:hover{
    color: #D47300;
}
.footer__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer end */